<!-- views/partials/head.ejs -->
<!--
    Here's some code to put in the head tag of our pages.  This way we don't have to duplicate our effort when
    we create new pages or need to add something to the head of all the pages.
 -->
<meta charset="UTF-8">
<title>Wow, Amazing</title>
<!-- load up the jQuery library -->
<script src="/scripts/jquery.js"></script>
<!-- time for our script to load -->
<script src="/scripts/scripts.js"></script>
<link rel="stylesheet" href="/css/styles.css" media="screen" charset="utf-8">
