body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}

/*Header*/
h2 {
  min-height: 60px;
  width: 100%;
  background-color: #000;
  text-decoration: none;
  font-size: 21px;
  letter-spacing: -1px;
  color: #fff;
  padding-left: 78px;
  padding-top: 13px;
  margin-bottom: 0;
  margin-top: 0;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding-right: 113px;
}

.socialMedia img {
  padding: 0;
  background-color: #000;
}

/*Navbar*/
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  box-sizing: border-box;
  height: 44px;
  width: 100vw;
  background-color: #2c2c2c;
  padding-left: 29px;
  font-size: 13px;
}

ul {
  list-style-type: none;

}

a {
  text-decoration: none;
  color: #969695;
  padding: 0 20px;
}

/*Sign up and log in*/
.action {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 44px;
  width: 25vw;
  background-color: #2c2c2c;
  padding-right: 113px;
  letter-spacing: 0.2px;
}

.active {
  color: #fff;
}

/*Hero image & text*/
.banner {
  background-image: url("https://unsplash.it/1300/?image=918");
  height: 637px;
  width: 100%;
  background-size: cover;
  position: relative;
  }

.intro {
  position: absolute;
  left: 96px;
  top: 182px;
  color: #fff;
}

.newWebsite {
  font-size: 44px;
  letter-spacing: -0.9px;
	line-height: 58px;
  width: 426px;
  margin-bottom: 0;
}

.newsletter {
  font-size: 19px;
  letter-spacing: -1px;
  margin-top: 5px;
  margin-bottom: 29px;
}

.email {
  width: 426px;
	height: 52px;
	border-radius: 3px;
	background-color: #fff;
  border: 0;
  padding: 0;
  margin-right: 0;
}

.button {
  width: 114px;
	height: 52px;
	border-radius: 3px;
	background-color: #000;
  color: #fff;
  font-size: 15px;
  border: 0;
  padding: 0;
  margin-left: 0;
}

.launch {
  font-size: 13px;
  letter-spacing: -0.5px;
	line-height: 21.9px;
}

/*Explore & main content*/
.content {
  margin-top: 78px;
  margin-left: 80px;
  font-size: 15px;
}

.main {
  display: flex;
  flex-direction: row;
  height: 343px;
}

.differentWays {
  display: flex;
  flex-direction: row;
  font-size: 33px;
  letter-spacing: -0.1px;
  width: 45vw;
}

.vision {
  font-size: 16px;
  width: 55vw;
  display: flex;
  flex-direction: column;
  padding-left: 68px;
}

.accessible {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  width: 55vw;
  letter-spacing: 0.4px;
	line-height: 21.9px;
	color: #a8a8a8;
  padding-left: 68px;
}

/*Gallery images*/
.gallery {
  display: flex;
  flex: 1 0 auto;
  max-width: 1300px;
  margin: auto;
}

.wide {
  flex: 2 0 auto;
}

/*Plans*/
.plans {
  font-size: 33px;
  letter-spacing: -0.1px;
	line-height: 36px;
	color: #2c2c2c;
  text-align: center;
  margin-top: 65.5px;
  margin-bottom: 78px;
}

.recommended {
  font-size: 15px;
  letter-spacing: 0.4px;
	color: #fff;
  background-color: #8173bc;
  height: 46px;
  width: 331px;
  text-align: center;
  margin: auto;
  box-sizing: border-box;
  padding-top: 12px;
}

.allColumns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.pricingColumns {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 360px;
  margin: 0 5px;
}

.pricing {
	height: 258px;
	background-color: #ebebeb;
  font-size: 33px;
  text-align: center;
  padding-top: 84px;
  box-sizing: border-box;
}

.pricing:before {
  content: "$";
  color: #000;
}

.manyClients {
  font-size: 15px;
  margin-top: 36px;
  width: 180px;
  margin-left: 90px;
}

.licenseType {
  width: 360px;
	height: 66px;
	background-color: #222222;
  font-size: 15px;
	letter-spacing: 0.4px;
	color: #ffffff;
  text-align: center;
  padding-top: 24px;
  box-sizing: border-box;
}

.use {
  width: 290px;
  letter-spacing: 0.4px;
	line-height: 21px;
	color: #969695;
  padding-left: 40px;
  margin-bottom: 66px;
  font-size: 12px;
}

.map {
  flex: 1 0 auto;
  width: 100%;
}

.map img {
  width: 100%;
}

/*Footer*/
.footer {
  width: 100%;
	height: 178px;
	background-color: #3a3a3a;
  padding-top: 46px;
  padding-left: 80px;
  display: flex;
}

.exclusive {
  letter-spacing: 0.1px;
	line-height: 22px;
	color: #ffffff;
  font-size: 11px;
}

.copyright {
  letter-spacing: 0.1px;
	line-height: 22px;
	color: #a7a7a7;
  font-size: 11px;
}

.links {
  letter-spacing: 0.2px;
	line-height: 22px;
	color: #a7a7a7;
  font-size: 11px;
  margin-left: -20px;

}

.emailBox {
  width: 462px;
	height: 54px;
	border-radius: 3px;
	border: solid 1px #d6d6d6;
  margin-left: 67px;
}

.subscribe {
  width: 120px;
	height: 34px;
	border-radius: 3px;
	background-color: #8173bc;
	font-size: 15px;
	letter-spacing: -0.9px;
	color: #ffffff;
  position: relative;
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}

.privacy {
  margin-left: 67px;
  margin-top: 20px;
  letter-spacing: -0.3px;
	line-height: 22px;
	color: #d6d6d6;
  font-size: 13px;
}
