body {
  margin-top: -10px;
  padding: 0;
  font-size: 10px;
  font-family: 'Raleway', sans-serif;
}

.logo {
  box-sizing: border-box;
  background-color: #618b25;
  color: #fff;
  font-size: 1.4rem;
  float: left;
  width: 80%;
  height: 80px;
  padding-top: 30px;
  padding-left: 30px;
  position: fixed;
}

span {
  cursor: pointer;
}

section {
  box-sizing: border-box;
  height: 70px;
  width: 20%;
  background-color:#72b01d;
  margin: auto;
  float: right;
  position: fixed;
  right: 0;
  top: 0;
}

.menu {
  margin: auto;
  margin-top: 12px;
  border: 5px solid transparent;
  border-radius: 100%;
  cursor: pointer;
}
.bar {
  height: 3px;
  width: 50px;
  display: block;
  margin: 8px auto;
  position: relative;
  background-color: #fff;
  border-radius: 10px;
  transition: .4s;
}

.menuexpand {
  position: absolute;
  display: flex;
  padding-left: 0;
  z-index: -10;
  opacity: 0;
  height: 70px;
}

.open {
  z-index: 100;
  opacity: 1;
  background-color: #fff;
  color: #000;
}

.worktab,
.contacttab {
  width: 40vw;
  background-color: #618b25;
  color: #fff;
}

.selected {
  border-bottom: none;
  background-color: #fff;
  color: #000;
}

li {
  padding-bottom: 10px;
  list-style: none;
  font-size: 1.3rem;
  color: #000;
  text-align: center;
  border: 1px solid lightgrey;
  padding-top: 20px;
}

.closetab {
  width: 20vw;
  background-color:#72b01d;
  color: #fff;
}

.projectlist,
.contactcontents {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  top: 100px;
  left: 120px;
  width: 100vw;
  height: calc(100vh - 70px);
}

.container {
  padding: 80px 0;
  box-sizing: border-box;
}

.intro {
  height: calc(100vh - 70px);
  margin-top: auto;
  background: url(../img/IMG_1386.jpg) no-repeat center;
  background-size: cover;
  outline: 1px solid white;
  outline-offset: -10px;
}

.intro1 {
  padding: 30px 50px;
  font-size: 42px;
  color: #fff;
}

.intro2 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 25px;
  padding: 0 50px;
  color: #fff;
}

.intro3 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  padding: 50px 50px 80px 50px;
  width: 40%;
  color: #fff;
}

.boot {
  height: 30vh;
  width: 30vw;
  float: right;
  background: #fff;
  border-top: 5px solid lightgrey;
  border-bottom: 5px solid lightgrey;
  background: linear-gradient(to right, #ffc, #ccf);
}

.boot img {
  transform: scale(.4);
  background: #fff;
  border-radius: 50%;
  padding: 5px;
  display: block;
  margin: auto;
  z-index: 10;
}

.bracketed{
	padding: 15px 20px;
	border: 1px solid;
	border-image: linear-gradient(to right, black 0%, black 29%, transparent 30%, transparent 70%, black 71%, black 100%);
	border-image-slice: 1;
}
.bordered {
	text-align: center;
	margin: 20px;
	display: flex;
}
.bordered::before, .bordered::after{
	content: "";
	flex: 1;
	align-self: center;
	border: 1px solid black;
	border-width: 1px 0px 0px;
	height: 0;
}


.work img,
p {
  width: 50vw;
  height: 100vh;
  display: inline-block;
}

.imgbkg {
  float: left;
  background: #fff;
  transition: .3s;
}

.imgbkg:hover {
  background: #6b4e71;
}


.clearfix {
  content: "";
  display: table;
  clear:both;
}

/*.model-1 {
  .bar {
     position: absolute;
    &:nth-of-type(1){
      top: 15px;
      transition( top 0.3s ease .3s, transform .3s ease-out .1s );
      animation(mrotr 2s cubic-bezier(.5, .2, .2, 1.01) );
    }
    &:nth-of-type(2){
      top: 30px;
      transition(0.3s ease .3s);
      animation(fade 2s cubic-bezier(.5, .2, .2, 1.01) );
    }
    &:nth-of-type(3){
      top: 45px;
      @include transition( top 0.3s  ease .3s, transform .3s ease-out .1s );
      @include animation(mrotl 2s cubic-bezier(.5, .2, .2, 1.01) );
    }
  }
  .menu:hover {
    .bar{
      &:nth-of-type(1){ top:30px; @include rotate(45deg);
      @include transition( top 0.3s ease .1s, transform .3s ease-out .5s );
      }
      &:nth-of-type(2){ opacity: 0;}
      &:nth-of-type(3){top:30px; @include rotate(-45deg);
       @include transition( top 0.3s ease .1s, transform .3s ease-out .5s );
      }
    }
  }
}*/
