<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body>
  <header>
    <h1>Welcome to my Diceware app!</h1>
  </header>
  <div class="content">
    <p>
      Diceware&trade; is a method for picking passphrases that uses dice to select words at random from a special list called the Diceware Word List. Each word in the list is preceded by a five digit number. All the digits are between one and six, allowing you to use the outcomes of five dice rolls to select a word from the list.
    </p>
    <div class="option">
      <a href='/roll'>Roll my own</a>
    </div>
    <div class="option">
      <a href='/lazyroll'>Roll for me</a>
    </div>
  </div>
</body>
</html>
