<!-- views/pages/lazyroll.ejs -->

<!DOCTYPE html>
<html>
<head>
    <!--
        Call the ejs include command and provide the path to the
        partial to include.  Path is relative to this file.
    -->
    <!-- Include our head.ejs file -->
    <% include ../partials/head %>
</head>
<body>
    <header>
    
    </header>

    <footer>
    </footer>
</body>
</html>
