<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body>
  <h1>You rolled! Here's your results!</h1>
  <h2>Your number is:</h2>
  <p>
    <%= rolledNumber %>
  </p>
</body>
</html>
