<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html>
<head>
    <!--
        Call the ejs include command and provide the path to the
        partial to include.  Path is relative to this file.
    -->
    <!-- Include our head.ejs file -->
    <% include ../partials/head %>
</head>
<body>
    <header>
        <!-- Include the header of the page -->
        <% include ../partials/header %>
    </header>
    <div class="content">
    <h3>I'm awesome because:</h3>
    <ul>
        <!-- loop over the reasons array and out put its' values as members of the list -->
        <% reasons.forEach(function(reason, i) { %>
            <li><%= reason.reason %><a href="/about/<%=i%>">X</a></li>
        <% }); %>
    </ul>
    <!--
        Note the action of the form points to the same route, but the method is 'POST'  We will be capturing
        the form input from the input box 'myReason'
    -->
    <form class="myReasonForm" id="myReasonForm" action="/about" method="post">
        <label for="myReason">Because:</label>
        <input type="text" name="myReason" id="myReason">
        <button type="submit">add</button>
    </form>
    </div>
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>
</html>
