<!-- views/pages/name.ejs -->

<!DOCTYPE html>
<html>
<head>
    <!--
        Call the ejs include command and provide the path to the
        partial to include.  Path is relative to this file.

        the bracket & % tags are used by the EJS templating engine and
        contain instructions for the engine to follow.
    -->
    <!-- Include our head.ejs file -->
    <% include ../partials/head %>

    <!-- run a small bit of js to create a sample cookie for us -->
    <script type="text/javascript">
        // you don't have to use my name.  Actually don't.  That's just creepy.
        document.cookie = "username=Ben";
    </script>
</head>
<body>
    <header>
        <!-- Include the header of the page -->
        <% include ../partials/header %>
    </header>
    <!-- Write the name that was passed to the template -->
    <h1>Hello, <%= name %>!</h1>
    <p>
        <!-- pass in the random word of the day -->
        The word of the day is: <%= word %>.
    </p>


    <footer>
        <!-- Use EJS again to include our footer partial -->
        <% include ../partials/footer %>
    </footer>
</body>
</html>
