<!-- views/pages/name.ejs -->

<!DOCTYPE html>

<html>
  <head>
    <!--
      Call the ejs include command and privdde the path to the partial to include.
      Path is relative to this file
   -->
   <!-- Include our head.ejs file -->
   <% include ../partials/head %>
   <script type="text/javascript">
     document.cookie = "username=Whitney"
   </script>
  </head>
  <body>
    <header>
      <!-- Include the header of the page -->
      <% include ../partials/header %>
    </header>
    <h1>Hello, <%= name %>!</h1>
    <p>
      The word of the days is: <%= word %>.
    </p>
    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
