  .navbar {
      background-color: #ccc;
  }

  ul,
  li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    float: left;
    display: inline-block;
    background-color: #666;
    width: 33.3%;
  }

  ul:after {
    content: "";
    clear: both;
    height: 0;
    width: 0;
    display: block;
  }

  a {
    display: block;
    background-color: darkblue;
    color: #fff;
    text-align: center;
    text-decoration: none;
  }
