
body {
  font-family: 'Poiret One', cursive;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-width: 1300px;
}

.logo {
  font-family: 'Give You Glory', cursive;
  padding-left: 20px;
  float: left;
  margin-bottom: 10px;
}

.navbar {
  border-bottom: 1px solid lightgray;
  width: 100%;
}

h2 {
  font-size: 13px;
  margin-top: -35px;
  font-family: 'Poiret One', cursive;
  text-transform: uppercase;
}

ul {
  margin-top: 40px;
  margin-right: 35px;
  float: right;
}

li{
  list-style: none;
  line-height: 30px;
  display: inline-block;
  margin: 10px 30px;
}

a {
  text-decoration: none;
  color: #000;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  flex: 1 0 auto;
  max-width: 100%;
  margin: 20px 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid lightgray;
}

img {
  flex-direction: row;
  margin: 5px;
  flex: 1 0 auto;

}

.clearfix {
  content: "";
  display: table;
  clear:both;
}
